page-home {

    .card-background-page{

        ion-card{
            position: relative;
            text-align: center;
            // display: flex;
            // justify-content: center;
        }
    
        .card-title{
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #000;
    
        }
    
        .card-subtitle{
            position: absolute;
            font-size: 1.0em;
            top:52%;
            width: 1005;
            color: #000;
        }
    }
    
}


